body {
    margin: 0;
    overflow: hidden;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropzone {
    position: relative;
    /* background-color: #c4c4c4; */
    border: 5px dotted #c4c4c4;
    width: 400px;
    height: 250px;
    opacity: 0.8;
}

.dropzone.active {
    opacity: 1;
    border: 5px dotted #949494;
}

#trigger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 250px;
    cursor: pointer;
}

#image {
    display: none;
    position: absolute;
    top: 0;
    width: 400px;
    height: 250px;
}

.close-btn, #close-drop {
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    color: #fff;
    cursor: pointer;
}

.label, #label-drop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    display: none;
    position: absolute;
    bottom: 0;
    background-color: #121212;
    color: #fff;
}

#image-drop {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}